<!DOCTYPE html>
<html>
<head>
  <title>African Folktales and Legends</title>
</head>
<body>
  <h1>Welcome to African Folktales and Legends</h1>
  <% if (user) { %>
    <p>Hello, <%= user.username %></p>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>

  <% if (stories.length > 0) { %>
    <h2>Featured Stories</h2>
    <ul>
      <% stories.forEach((story) => { %>
        <li>
          <a href="/stories/<%= story._id %>"><%= story.title %></a>
          <span>Author: <%= story.author %></span>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No stories available</p>
  <% } %>
</body>
</html>

